<div class="cstm-register-container">
  <div class="cstm-register-container-content">
    <mat-card>
      <h1 class="mat-display-3">register</h1>
      <p>Enter your details to sign in</p>
      <form [formGroup]="registerForm">
        <mat-form-field>
          <input matInput type="text" placeholder="first name" formControlName="firstName">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="last name" formControlName="lastName">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="username" formControlName="username">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="email" placeholder="email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="password" formControlName="password">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="confirm password" formControlName="confirmPassword">
        </mat-form-field>
        <button mat-stroked-button type="submit" color=primary>sign in</button>
      </form>
      <p>Are you a member? <a [routerLink]="['/login']">log in!</a></p>
    </mat-card>
  </div>
</div>
