mat-card {
  margin: 8px 0px;
}

mat-card {
  height: 100%;
  .cstm-post-header {
    align-items: center;
    display: flex;
    & > div > h4, & > div > p {
      margin: 0 0 0 12px;
      font-weight: 400;
    }
    & > div {
      background-size: cover;
    }
    & mat-card-header-text {
      display: none;
    }
  }
  .cstm-post-body {
    margin-top: 8px;
  }
}
