/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}

.cstm-flex-between {
  flex: 1 1 auto;
}

.cstm-global-max-width {
  max-width: 1200px;
}

.cstm-vrtcl-margin-auto {
  margin: 0px auto;
}

.cstm-hrzntl-margin-auto {
  margin: auto 0px;
}

.cstm-global-side-padding {
  padding: 0px 16px;
}

.cstm-full-width {
  width: 100%;
}

.cstm-0-bottom-margin {
  margin-bottom: 0px;
}
